.login-container { 
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(201, 207, 221, 0.3); 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.login-container:hover {
  transform: scale(1.02);
}

.login-container h2 {
  color: #d3dfec;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.textfieldd {
  width: 100%;
  padding: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  background-color: #ecf0f1; 
  color: #2c3e50; 
  transition: all 0.3s ease-in-out;
}

.MuiInputLabel-root {
  color: #2c3e50 !important;
}
.textfieldd:focus {
  border-color: #2980b9;
  outline: none;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.6);
  transform: scale(1.02);
}
.loginsignupbutton {
  width: 100%;
  padding: 12px;
  background-color: #0a66c2;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}
.loginsignupbutton:hover {
  background-color: #084a99; 
  transform: scale(1.05);
}
.logtxt {
  color: #3498db;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}
.logtxt:hover {
  color: #010508;
}
.login-message {
  margin-top: 10px;
  color: #e74c3c;
  font-weight: bold;
}
