/* Style global */
body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover; /* Adapter l'image à la taille de l'écran */
  line-height: 1.6;
  animation: fadeIn 1.5s ease-in-out;
  display: flex; /* Flexbox sur le body */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  background-color: #e6dbdb4d; 
  background-image: url('./IMG.jpg');
  
}

/* Animation globale */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Container principal */
.blog-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 90%; /* Largeur relative pour écrans plus petits */
  width: 600px; /* Largeur maximale */
  padding: 20px;
  background: rgba(
    135,
    135,
    139,
    0.155
  ); /* Fond plus clair avec transparence */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(179, 12, 12, 0);
  animation: slideIn 1s ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 0 20px 5px rgba(30, 7, 5, 0.734);
   
}

/* Animation pour le formulaire */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Titre principal */
.blog-form h1 {
  font-size: 70px; /* Taille augmentée */
  margin: 0;
  text-align: center;
  color: #eef0f5e1;
  font-weight: 700;
  animation: bounceIn 1.2s ease;
}

/* Animation du titre */
@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Groupes de formulaire */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Label */
.form-group label {
  font-size: 14px;
  font-weight: bold;
  color: #e9f1f3d9;
}

/* Champ de saisie */
.form-group input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #bebdce;
  border-radius: 5px;
  background-color: #181517b6;
  color: #e6dfdf;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

/* Champ de saisie au focus */
.form-group input:focus {
  background-color: #2b181f6e;
  border-color: #0078d7;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 120, 215, 0.6);
}

/* Effet au survol des champs */
.form-group input:hover {
  background-color: #0f0d0de6;
}
/* Réglages pour petits écrans */
@media (max-width: 768px) {
  .blog-form {
    width: 100%;
    padding: 15px;
  }

  .blog-form h1 {
    font-size: 20px;
  }
}
.return {
  text-align: right;
}
.form-submit {
    margin-top: 20px;
}
